<!doctype html>
<html lang="en">
<body>
<h1>base</h1>
{% if session().hasFlash('success') %}
    <ul>
    {% for message in session().getFlash('success') %}
        <li style="">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<div>
{% block main %} {% endblock %}
</div>
</body>
</html>
